h1 {
  font-weight: bold;
  font-size: 1.5rem;
  color: crimson;
  background-color: yellow;
}
h1 {
  text-align: center;
  border: 2px;
  border-radius: 20%;
  height: 60px;
}
h2 {
  font-weight: bold;
  font-size: 1 rem;
  color: crimson;
  background-color: yellow;

  text-align: center;
}

/*nav {
  background-color: yellow;
  list-style: none;

}*/
h3 {
  color: #f0f8ff;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.heroDanmark {
  display: flex;
  align-items:center ;
  justify-content:space-around;

}
.heroimgdanmark{
  width: 200px;
  background-color: yellow;
  height: 222px;
  
}
.herotextdanmark{
  width: 400px;
  height: 222px;
  background-color: red;
}
.intro{
  display: flex;
}
.imgbilder{
  max-width: 150px;
  max-height: 250px;
}
.imgkaruseli{
  width: 400px;
  height: 50px;
  
}
.imgtransport{
  max-width: 300px;
  max-height: 400px;
}
.hjerte{
  width: 20px;
  height: 20px;
}
.heroTransport{
  display: flex;
}
.karuseliDiv{
  display: grid;
  grid-template-rows: 400px 400px;

}